<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phuoc Dinh - Web, Mobile, PC Apps Full Stack Developer</title>
    <meta name="description"
        content="Phuoc Dinh - a Full Stack Developer. Worked with PHP, React-Native, ReactJS, VueJS, NodeJS, Python, C#. Five years of remote work experience.">
    <link rel="canonical" href="https://thienphuoc1990.github.io/" />

    <!-- Open Graph protocol -->
    <meta property="og:title" content="Phuoc Dinh - Web, Mobile, PC Apps Full Stack Developer" />
    <meta property="og:description"
        content="Phuoc Dinh - a Full Stack Developer. Worked with PHP, React-Native, ReactJS, VueJS, NodeJS, Python, C#. Five years of remote work experience." />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https://thienphuoc1990.github.io/" />
    <meta property="og:image" content="https://thienphuoc1990.github.io/assets/images/avatar_small.jpg" />
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="50">
    <meta property="og:image:type" content="image/jpg">
    <meta property="profile:first_name" content="Phuoc">
    <meta property="profile:last_name" content="Dinh">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="dinhthienphuoc">

    <!-- BEGIN: Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- END: Favicon -->

    <!-- CSS -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link href="./assets/libs/fontawesome/all.min.css" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <div id="app">
        <!-- Begin: Header -->
        <header>
            <div class="container">
                <nav class="custom-nav top-nav">
                    <span v-for="item in top_menu"><a class="nav-link" v-bind:href="item.link">{{item.name}}</a></span>
                </nav>
            </div>
        </header>
        <!-- End: Header -->

        <!-- Begin: Banner -->
        <div id="particles-js">
            <section id="personal_information">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="informations">
                                <div class="wrapper-logo">
                                    <img src="./assets/images/avatar.jpg" />
                                </div>
                                <div class="list-infos">
                                    <div class="info" v-for="item in informations.infos">
                                        <div><span v-html="item.icon" class="icon-wrapper"></span></div>
                                        <div class="content">{{item.text}}</div>
                                    </div>
                                    <div class="info" v-for="item in informations.links">
                                        <div><span v-html="item.icon" class="icon-wrapper"></span></div>
                                        <div class="content"><a v-bind:href="item.link"
                                                v-bind:title="item.title">{{item.title}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="short-describe">
                                <h1>Hello, I'm Dinh Thien Phuoc</h1>
                                <h2>A Web, Mobile, PC Application Full Stack Developer</h2>
                                <ul>
                                    <li v-for="item in informations.summary" v-html="item"></li>
                                </ul>
                                <p>In addition to a passion for technology, I enjoy being with my family,
                                    playing guitar, singing, reading stories, playing basketball, drinking
                                    coffee and learning new technologies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End: Banner -->

        <!-- Begin: Skills -->
        <section id="skills" class="pt-50">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="section-title fancy"><span>Skills</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col flex-horiz">
                        <div class="group-skill" v-for="group in skills">
                            <h3>{{group.name}}</h3>
                            <ul class="circle">
                                <li v-for="skill in group.skills">{{skill}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Skills -->

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="row">
                        <div class="col">
                            <!-- Begin: Work History -->
                            <section id="work-history" class="pt-50">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="section-title fancy"><span>Work History</span></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" class="period" v-for="period in work_history">
                                        <p><span class="period">{{period.time_period}}</span><span v-if="period.company"
                                                v-html="period.company"></span></p>
                                        <h3 class="jobs">{{period.job}}</h3>
                                        <ul class="circle">
                                            <li v-for="item in period.job_details">
                                                <span v-html="item.name"></span>
                                                <span v-if="item.link && item.type !== 'job'">&nbsp;
                                                    <a v-for="link in item.link" v-bind:href="link.link"
                                                        v-bind:title="link.title">{{link.title}} </a>
                                                    </span>
                                                    <ul class="circle sub-list" v-if="item.type === 'job'">
                                                        <li v-for="jobDetail in item.details">
                                                            <span v-if="jobDetail" v-html="jobDetail"></span>
                                                        </li>
                                                    </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <!-- End: Work History -->
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col">
                            <!-- Begin: Project -->
                            <section id="project" class="pt-50">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="section-title fancy"><span>About some Projects</span></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 project" v-for="project in projects">
                                        <h3 class="name">{{project.name}}</h3>
                                        <p class="description">{{project.description}}</p>
                                        <p class="participate-in">{{project.participate_in}}</p>
                                        <p v-if="project.link" class="link"><i class="fas fa-globe"></i> <a
                                                v-bind:href="project.link">{{project.link}}</a></p>
                                        <hr />
                                    </div>
                                </div>
                            </section>
                            <!-- End: Education -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Begin: Education -->
                            <section id="education" class="pt-50">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="section-title fancy"><span>Education</span></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 period" v-for="period in education">
                                        <p><span class="period">{{period.time_period}}</span> | <span
                                                v-if="period.school" v-html="period.school"></span></p>
                                        <h3 class="jobs">{{period.level}}</h3>
                                        <p><i class="fas fa-map-marker-alt"></i> {{period.address}}</p>
                                    </div>
                                </div>
                            </section>
                            <!-- End: Education -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Begin: Certificates -->
                            <section id="certificates" class="pt-50">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="section-title fancy"><span>Certificates</span></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 cert" v-for="cert in certificates">
                                        <div class="wrapper-cert-image">
                                            <a v-bind:href="cert.link"v-bind:title="cert.name">
                                                <img v-bind:src="cert.image" v-bind:alt="cert.name" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- End: Certificates -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin: Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">© Phuoc Dinh</div>
                </div>
            </div>
            <div class="btn-to-top"><span class="icon-wrapper"><a href="#particles-js"><i
                            class="fas fa-arrow-up"></i></a></span></div>
        </footer>
        <!-- End: Footer -->
    </div>

    <!-- Javascript -->
    <!-- JQuery -->
    <script src="./assets/libs/jquery/jquery-3.5.1.min.js"></script>
    <!-- Particles JS -->
    <script src="./assets/libs/particles.js-master/particles.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="./assets/libs/vuejs/vue.js"></script>

    <!-- App JS -->
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>